
@{
    ViewBag.Title = "Management Panel";
}

<h2>ViewBag.Title</h2>

<ul>
    <li>Add Player</li>
    <li>Add Team</li>
    <li>Add League</li>
    <li>Add Schedule</li>
    <li>Add Match Result</li>
    <li>Add Match Statistics</li>
</ul>

